In [3]:
# 1) Set the variable test1 to the string 'This is a test of the emergency text system,' and
# save test1 to a file named test.txt. 
# 2) Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2? 
# There is no difference

test1 = 'This is a test of the emergency text system,'

test_file = open('test.txt','w')

test_file.write(test1)

test_file.close()

read_file = open('test.txt','r')

test2 = read_file.read()

read_file.close()

test2

'This is a test of the emergency text system,'

In [4]:
# 3) Create a CSV file called books.csv by using these lines:
data = [
    ['title','author','year'] ,
    ['The Weirdstone of Brisingamen','Alan Garner',1960] ,
    ['Perdido Street Station','China Miéville',2000] ,
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007] ,
    ['Small Gods','Terry Pratchett',1992] 
]

import csv

with open('books.csv','w',encoding='utf-8',newline='') as f:
    writer = csv.writer(f)
    
    writer.writerows(data)

In [5]:

# 4) Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: 
#     title (text), author (text), and year (integer). 
import sqlite3

connection_obj = sqlite3.connect('books.db')

cursor_obj = connection_obj.cursor()

table = """CREATE TABLE BOOKS (
TITLE TEXT NOT NULL,
AUTHOR TEXT NOT NULL,
YEAR INT NOT NULL)"""

cursor_obj.execute(table)

connection_obj.close()

OperationalError: table BOOKS already exists

In [16]:

# 5) Read books.csv and insert its data into the book table.


books = csv.reader(open('books.csv'))
next(books)
cursor_obj.executemany("INSERT INTO books(title,author,year) VALUES(?,?,?)",books)

In [17]:
cursor_obj.execute('''SELECT * FROM BOOKS''').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China MiÃ©ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

In [19]:
# 6) Select and print the title column from the book table in alphabetical order.

cursor_obj.execute('''SELECT title FROM BOOKS ORDER BY title''').fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

In [27]:
# 7) From the book table, select and print all columns in the order of publication. 
cursor_obj.execute('''SELECT * FROM BOOKS ORDER BY year''').fetchall()
connection_obj.commit()
connection_obj.close()

In [28]:
# 8) Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6. 
import sqlalchemy as db

engine = db.create_engine('sqlite:///books.db')

connection = engine.connect()

metadata = db.MetaData()

books1 = db.Table('books', metadata, autoload=True, autoload_with=engine)

query = db.select([books1])

result_proxy = connection.execute(query)

result_set = result_proxy.fetchall()

print(result_set)

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China MiÃ©ville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

In [29]:
# 9) Install the Redis server and the Python redis library (pip install redis) on your computer.
# Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester').
# Print all the fields for test.

import redis

redisClient = redis.StrictRedis(host='localhost',
                                port=6379,
                                db=0)
redisClient.hset("test", "count","1")
redisClient.hset("test", "name","Fester Bestertester")

print(redisClient.hgetall("test"))
# 10) Increment the count field of test and print it. Page 1 of 1

{b'count': b'1', b'name': b'Fester Bestertester'}

In [30]:
result = redisClient.hincrby("test", "count", 1)
print(result)

2