In [1]:
# 1)

def amplify(n):
    result = []
    for i in range(1,n+1):
        if i%4==0:
            result.append(i*10)
        else:
            result.append(i)
    return result

amplify(4)

[1, 2, 3, 40]

In [5]:
# 2)

def return_unique(lst):
    for i in list(set(lst)):
        if lst.count(i) == 1:
            return i
    return "NA"
return_unique([1,1,1,1,3,44,44,3])

'NA'

In [ ]:
# 3)

class Circle():
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14
    
    def perimeter(self):
        return 2*self.radius*3.14

In [6]:
# 4)

def Sorting(lst):
    lst.sort(key=len)
    return lst
      
# Driver code
lst = ["rohan", "amy", "sapna", "muhammad", 
       "aakash", "raunak", "chinmoy"]
print(Sorting(lst))

['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']

In [10]:
# 5)

def triplet(lst):
    n1 = max(lst)
    sum = 0
    for i in lst:
        if i!=n1:
            sum +=i**2
    return n1**2==sum

triplet([15,12,13])

False